*{
    box-sizing: border-box;
}
body
{
    position: relative;
    background: #fcf4ee;
    font-family: 'PT Sans Narrow', sans-serif;
}
.mbody{
    margin: 1px;
    background-color: rgb(255, 166, 0);
    border-radius: 15px;
    padding: 15px;
}
ul{
    list-style: none;
}
h3
{
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0);
    padding-right: 15px;
}
h1
{
    font-style: normal; 
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section{
    position: relative;
    float: left;
    display: inline;
    width: 69%;
    display: flexbox;
    text-align: center;
}
nav{
    float: left;
    width: 30%;
    padding: 20px;
    height: 100%;
    text-align: center;
}
button{
    height: 25px;
    margin: 5px;
}
.rectInput{
    position: relative;
    width: 40%;
    height: 35px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 5px;
    font-size: 15px;
    padding: 3px;
    border-style:ridge;
    transition: width 1s;
}
button.rectInput{border-style: solid;}
input.rectInput:hover{ width: 50%}
button.rectInput:hover{ width: 30%}
/* .eForm{
    width: 50%;
    position: relative;
    float: left;
} */

@media(max-width: 640px){
    .eForm{
        width: 70%;
        margin: 7px;
        position: relative;
        float: left;
    }
    nav{
        display: none;
    }
    .homeNav{
        position: sticky;
        width: 100%;
        text-align: right;
        top: 10%;
        font-size: 15px;
    }
    section{
        width: 100%;
        height: auto;
    }
}
@media(max-width: 600px){
    nav{
        display: none;
    }
    section{
        width: 100%;
        height: auto;
    }
    
    h3{
        font-size: 3vw;
        text-align: right;
    }
    h1{
        font-size: 10vw;
    }
}
@media(max-width: 260px){
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 10px;
        text-align: right;
    }
    nav{
       display: none;
    }
}